 /*footer {
        margin-left: 0.5em;
        position: fixed;
        bottom: 0;
       width: 100%;
      }*/

      footer {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        background-color: /*#f5f5f5 #62D1F9*/ white;
        padding: 20px;
      }
      
      .container-fluid {
        width: 100%;
        max-width: 1200px; /* Largeur maximale du contenu du pied de page */
        margin: 0 auto; /* Centrer le contenu horizontalement */
      }

      .socialnet img {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
      }

      .col-md-4 li{
        list-style-type: none;
      }
      
      .lien a{
        color: black;
        text-decoration: none;
      }

      .mail {
        color: black;
      }